<% provide(:title, "Contact") %>
<div class="contact-us">
<section class="jumbotron jumbotron-fluid" id="jumbotron-contact">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-6 col-lg-6" >
        <h1 class="homepage-text shadow-underscore jumbo-maintext title-mobile">CONTACT US</h1>
        <h3 class ="homepage-text pt-3 pb-3 jumbo-subtext subtitle-description-mobile">We love hearing from our users! Contact us
          anytime and we will get back to you as soon as possible.</h3>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="form-block">
        <%= form_for(:contact, url: contact_path) do |f| %>
          <div class="text-block pb-3 subtitle-description-mobile">
            Please fill out the form below with how we can help you today and a support specialist will contact you shorty. Thank you!
          </div>
          <%= f.label :contact_name, class: 'field-label emphasis contact-form-item-mobile' do %>
            <span class = 'field-label emphasis'> Name </span><br>
          <% end %><br>
          <%= f.text_field :contact_name, class: 'form-control', placeholder: "Name" %><br>
          <%= f.label :contact_email, class: 'field-label emphasis contact-form-item-mobile' do %>
            <span class = 'field-label emphasis'> Email </span><br>
          <% end %><br>
          <%= f.email_field :contact_email, class: 'form-control', placeholder: "Email" %><br>
          <%= f.label :contact_how, class: 'field-label emphasis contact-form-item-mobile' do %>
            <span class = 'field-label emphasis'> How did you hear about Markitplace? </span><br>
          <% end %><br>
          <%= f.text_area :contact_how, class: 'form-control', placeholder: "Did you hear about us from friends, ads, or an email campaign?"  %><br>
          <%= f.label :contact_help, class: 'field-label emphasis contact-form-item-mobile' do %>
            <span class = 'field-label emphasis'> How can we help you?</span><br>
          <% end %><br>
          <%= f.text_area :contact_help, class: 'form-control', placeholder: "Please explain and we will get back to you as quickly as possible."  %><br>
          <%= f.submit "Submit", class: "btn btn-success jumbo-button mt-2" %><br>
        <% end %>
      </div>
    </div>
    <div class="d-none d-lg-block col-lg-4">
      <div class="lets-chat-title">
        Let&apos;s chat.
      </div>
      <div class="lets-chat">
        +1 (207) 767-3433 <br>
        support@markitplace.io
      </div>
      <div class="lets-chat">
        Markitplace LLC<br>
        90 State Street<br>
        STE 700 Office 40<br>
        Albany, NY<br>
        12207
      </div>
    </div>
  </div>
</div>
</div>