<% provide(:title, "Home") %>
<div class="homepage">
    <div class="homepage-2019">
        <section class="jumbotron jumbotron-fluid home-jumbotron jumbotron-mobile">
          <div class="container">
            <div class="row text-left">
              <div class="col-8 col-lg-6 justify-content-center" id="jumbo-textbox">
                <h1 class="homepage-text shadow-underscore jumbo-maintext title-mobile">Food Products and Meal Kits sourced directly from small businesses</h1>
                <h3 class ="homepage-text pt-3 pb-3" id ="jumbo-subtext">We partner with food prep companies to offer
                you the greatest variety of food products while supporting socially responsible initiatives.</h3>
                <% if !logged_in? %>
                  <%= link_to "GET STARTED", signup_path, class: "btn btn-outline-success jumbo-button btn-mobile" %>
                <% else %>
                  <%= link_to "GET STARTED", plan_types_path, class: "btn btn-outline-success jumbo-button btn-mobile" %>
                <% end %>
              </div>
            </div>
          </div>
        </section>
        <div class="container" id="our-process">
          <div class="row pb-3">
            <div class="col-12 pb-4">
              <section>
                <p class="text-center subtext-gray description-text-mobile pb-1">
                  Markitplace works with scheduled food delivery companies to provide you the widest array of food options. Our partners then deliver
                  fresh food products straight to you. You can also be assured everytime you buy you are not only 
                  supporting a small business, but a socially responsible corporate intitiative.
                </p>
                <h2 class="text-center mobile-hidden" style = "color: #595959">A delicious meal is only a few steps away</h2>
              </section>
            </div>
          </div>
            <div class="row pb-3 justify-content-center">
              <div class="col-12 col-lg-8" data-aos="fade-right" data-aos-easing="ease-in-sine">
                <h3>Choose</h3>
                <p class="description-text-mobile">
                    Choose the type of meal you want and see the best offerings available from our partners. You'll get the meal you want for an 
                    affordable price while simultaneously supporting our small business partners. Products will be sent directly to your door.
                </p>
              </div>
              <div class="d-none d-lg-block col-lg-4">
                <%= image_tag("choose.png", class: "img-fluid", alt:"Mealkit-choose") %>
              </div>
            </div>
            <div class="row pb-3">
              <div class="d-none d-lg-block col-lg-4">
                <%= image_tag("unpack.png", class: "img-fluid", alt:"Mealkit-unpack") %>
              </div>
              <div class="col-12 col-lg-8" data-aos="fade-left" data-aos-easing="ease-in-sine">
                <h3>Unpack</h3>
                <p class="description-text-mobile">
                    Unpack your box with premium, pre-prepared and certifiably fresh food products. Simply follow the included
                    instructions and you'll have a delicious, home cooked meal fully prepared.
                </p>
              </div>
            </div>
            <div class = "row pb-3">
              <div class="col-12 col-lg-8" data-aos="fade-right" data-aos-easing="ease-in-sine">
                <h3>Eat & Enjoy!</h3>
                <p class="description-text-mobile">
                    Enjoy restaurant-quality food in the comfort of your home. With new, affordable meals
                    every week you'll have access to delicious offerings whenever you want.
                </p>
              </div>
              <div class="d-none d-lg-block col-lg-4">
                <%= image_tag("enjoy.png", class: "img-fluid", alt:"Mealkit-enjoy") %>
              </div>
              <div class="col-12 text-center pt-3">
                <% if !logged_in? %>
                  <%= link_to "GET STARTED!", signup_path, class: "btn btn-success jumbo-button btn-mobile" %>
                <% else %>
                  <%= link_to "SEE OFFERINGS", plan_types_path, class: "btn btn-success jumbo-button btn-mobile" %>
                <% end %>
              </div>
            </div>
        </div>
        <section class="jumbotron jumbotron-fluid jumbotron-mobil" id="jumbotron-food">
          <div class="container container-fluid">
            <div class="row">
              <div class="d-none d-lg-block col-lg-3">
                <span></span>
              </div>
              <div class="col-12 col-lg-6 text-center box-opaque justfy-content-center" style="border: 4px solid white" data-aos="fade-up" data-aos-easing="ease-in-sine">
                <!-- <span style = "color: #449900"></span> -->
                <h2 class= "pt-2 jumbo-header-mobile" style="color: white" id="outline">Markitplace is Simple & Easy to Use</h1>
                  <hr class = "hr-class" style="border-top: 2px solid" id= "hr-id" >
                  <br>
                    <p class= "description-text-food-mobile text-center" style="font-weight:550">
                      We act as your kit search engine and connect you with our partners so you get the food
                      you want direct from small businesses.
                    </p>
                    <p class= "description-text-food-mobile text-center" style="font-weight:550" >
                      Once you order, food products are shipped directly to your door. Just follow
                      the included instructions and you'll have a delicious meal ready to go!
                    </p>
                    <p class= "description-text-food-mobile text-center" style="font-weight:550">
                      No grocery shopping, no measuring ingredients, no guesswork necessary. Cook and enjoy!
                    </p>
                  </ul>
              </div>
              <div class="col-md-3">
                <span></span>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>