<% provide(:title, "Home") %>
<div class="homepage">
    <div class="homepage-2019">
        <section class="jumbotron jumbotron-fluid home-jumbotron">
          <div class="container">
            <div class="row text-left">
              <div class="col-12 col-lg-6 justify-content-center" id="jumbo-textbox">
                <h1 class="homepage-text shadow-underscore jumbo-maintext">THE RIGHT MEAL KIT AT THE BEST AVAILABLE PRICE</h1>
                <h3 class ="homepage-text pt-3 pb-3" id ="jumbo-subtext">We partner with prep companies to offer
                you the greatest variety of kits at the most competitive prices.</h3>
                <% if !logged_in? %>
                  <%= link_to "GET STARTED", signup_path, class: "btn btn-outline-success jumbo-button" %>
                <% else %>
                  <%= link_to "GET STARTED", plan_types_path, class: "btn btn-outline-success jumbo-button" %>
                <% end %>
              </div>
            </div>
          </div>
        </section>
        <div class="container" id="our-process">
          <div class="row pb-3">
            <div class="col-12 pb-4">
              <section>
                <p class="text-center subtext-gray media-test pb-1">
                  Markitplace works with major meal kit suppliers to provide you the widest array of food options. Our partners then deliver
                  fresh ingredients and recipes so that you can cook delicious meals.
                </p>
                <h2 class="text-center" style = "color: #595959">A delicious meal is only a few steps away</h2>
              </section>
            </div>
          </div>
            <div class="row pb-3 justify-content-center">
              <div class="col-md-8" data-aos="fade-right" data-aos-easing="ease-in-sine">
                <h3 class="media-test">Choose</h3>
                <p>
                    Choose the type of meal you want and see the best offerings available from our partners. By seeing all available
                    prices you'll get the meal you want for an affordable price. Pick the type of plan you want and your delivery day and
                    you'll have the ingredients for your meal sent directly to your door.
                </p>
              </div>
              <div class="col-md-4">
                <%= image_tag("choose.png", class: "img-fluid", alt:"Mealkit-choose") %>
              </div>
            </div>
            <div class="row pb-3">
              <div class="col-md-4">
                <%= image_tag("unpack.png", class: "img-fluid", alt:"Mealkit-unpack") %>
              </div>
              <div class="col-md-8" data-aos="fade-left" data-aos-easing="ease-in-sine">
                <h3>Unpack</h3>
                <p>
                    Unpack your box with premium, pre-prepared and certifiably fresh ingredients. Simply follow the included
                    instructions and you'll have a delicious, home cooked meal fully prepared.
                </p>
              </div>
            </div>
            <div class = "row pb-3">
              <div class="col-md-8" data-aos="fade-right" data-aos-easing="ease-in-sine">
                <h3>Eat & Enjoy!</h3>
                <p>
                    Enjoy restaurant-quality food in the comfort of your home. With new, affordable recipes
                    every week you'll have access to delicious offerings whenever you want.
                </p>
              </div>
              <div class="col-md-4">
                <%= image_tag("enjoy.png", class: "img-fluid", alt:"Mealkit-enjoy") %>
              </div>
              <div class="col-12 text-center pt-3">
                <% if !logged_in? %>
                  <%= link_to "GET STARTED!", signup_path, class: "btn btn-success jumbo-button" %>
                <% else %>
                  <%= link_to "SEE OFFERINGS", plan_types_path, class: "btn btn-success jumbo-button" %>
                <% end %>
              </div>
            </div>
        </div>
        <section class="jumbotron jumbotron-fluid" id="jumbotron-food">
          <div class="container container-fluid">
            <div class="row">
              <div class="col-md-3">
                <span></span>
              </div>
              <div class="col-6 col text-center box-opaque" style="border: 4px solid white" data-aos="fade-up" data-aos-easing="ease-in-sine">
                <!-- <span style = "color: #449900"></span> -->
                <h2 class = "pt-2" style="color: white" id="outline">Markitplace is Simple & Easy to Use</h1>
                  <hr style="border-top: 2px green solid">
                  <br>
                  <ul class = "pb-2" style="color: black">
                    <li>
                      We act as your kit search engine and connect you with our partners so you get the food
                      you want for an unbeatable price.
                    </li>
                    <li>
                      Once you order, pre-prepared ingredients are shipped directly to your door. Just follow
                      the incuded recipes and you'll have a delicious meal ready to go!
                    </li>
                    <li>
                      No grocery shopping, no measuring ingredients, no guesswork necessary. Cook and enjoy!
                    </li>
                  </ul>
              </div>
              <div class="col-md-3">
                <span></span>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>