<% provide(:title, "Home") %>
<div class="homepage">
    <div class="homepage-2019">
        <section class="jumbotron jumbotron-fluid home-jumbotron jumbotron-mobile">
          <div class="container">
            <div class="row text-left">
              <div class="col-8 col-lg-6 justify-content-center" id="jumbo-textbox">
                <h1 class="homepage-text shadow-underscore jumbo-maintext title-mobile">Supporting Small Businesses through Meal Kits and Food Products</h1>
                <h3 class ="homepage-text pt-3 pb-3" id ="jumbo-subtext">We connect you to small food prep companies so that you can get the greatest
                variety of food products while supporting small business in your community.</h3>
                <%= link_to "START SHOPPING", one_off_products_path, class: "btn btn-outline-success jumbo-button btn-mobile" %>
              </div>
            </div>
          </div>
        </section>
        <div class="container" id="our-process">
          <div class="row pb-3">
            <div class="col-12 pb-4">
              <section>
                <p class="text-center subtext-gray description-text-mobile pb-1">
                  Markitplace works with scheduled food delivery companies to provide you the widest array of food options. Our partners then deliver
                  fresh food products straight to you. You can also be assured everytime you buy your money isn&apos;t going into the hands
                  of some large corporation, but towards a <span style = "color:green"><strong>small business in your community.</strong></span>
                </p>
                <h2 class="text-center mobile-hidden" style = "color: #595959">A delicious meal is only a few steps away</h2>
              </section>
            </div>
          </div>
            <div class="row pb-3 justify-content-center">
              <div class="col-12 col-lg-8" data-aos="fade-right" data-aos-easing="ease-in-sine">
                <h3>Choose</h3>
                <p class="description-text-mobile">
                    Markitplace acts as your search engine for meal kits and prepared meals from small
                    businesses in your area. <span style = "color:green"><strong>Choose</strong></span> your meal and read about the small business that you&apos;re supporting.
                </p>
              </div>
              <div class="d-none d-lg-block col-lg-4">
                <%= image_tag("choose.png", class: "img-fluid", alt:"Mealkit-choose") %>
              </div>
            </div>
            <div class="row pb-3">
              <div class="d-none d-lg-block col-lg-4">
                <%= image_tag("unpack.png", class: "img-fluid", alt:"Mealkit-unpack") %>
              </div>
              <div class="col-12 col-lg-8" data-aos="fade-left" data-aos-easing="ease-in-sine">
                <h3>Unpack</h3>
                <p class="description-text-mobile">
                    Our partners will deliver or ship your kit directly to your door. <span style = "color:green"><strong>Unpack</strong></span> your box with premium, pre-prepared and certifiably fresh food products. Simply follow the included
                    instructions and you'll have a delicious, home cooked meal fully prepared.
                </p>
              </div>
            </div>
            <div class = "row pb-3">
              <div class="col-12 col-lg-8" data-aos="fade-right" data-aos-easing="ease-in-sine">
                <h3>Eat & Enjoy!</h3>
                <p class="description-text-mobile">
                    <span style = "color:green"><strong>Enjoy</strong></span> restaurant-quality food in the comfort of your home. With new, affordable meals
                    every week from our network of partners you&apos;ll not only have access to a wide variety of meals, but you&apos;ll
                    also be supporting your community. 
                </p>
              </div>
              <div class="d-none d-lg-block col-lg-4">
                <%= image_tag("enjoy.png", class: "img-fluid", alt:"Mealkit-enjoy") %>
              </div>
              <div class="col-12 text-center pt-3">
              <%= link_to "START SHOPPING", one_off_products_path, class: "btn btn-success jumbo-button btn-mobile" %>
              </div>
            </div>
          </div<
        </div>
      </div>
    </div>
</div>