<% provide(:title, "Services") %>
<div class="partners">
    <section class="jumbotron jumbotron-fluid" id="jumbotron-contact">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-6 col-lg-6" >
                    <h1 class="homepage-text shadow-underscore jumbo-maintext title-mobile">PARTNERS</h1>
                    <h3 class ="homepage-text pt-3 pb-3 jumbo-subtext subtitle-description-mobile">Interested in partnering with us? Fill out the form below and one of our
                    specialists will contact you about our services.</h3>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="form-block">
                    <%= form_for(:partners, url: partner_information_path) do |f| %>
                        <div class="text-block pb-3">
                            Please fill out the form below with how we can help you today and a support specialist will contact you shorty. Thank you!
                        </div>
                        <%= f.label :partner_name, class: 'field-label emphasis contact-form-item-mobile' do %>
                            <span class = 'field-label emphasis'> Name </span><br>
                        <% end %><br>
                        <%= f.text_field :partner_name, class: 'form-control form-control-mobile', placeholder: "Name" %><br>
                        <%= f.label :partner_email, class: 'field-label emphasis contact-form-item-mobile' do %>
                            <span class = 'field-label emphasis'> Email </span><br>
                        <% end %><br>
                        <%= f.email_field :partner_email, class: 'form-control form-control-mobile', placeholder: "Email" %><br>
                        <%= f.label :partner_location, class: 'field-label emphasis contact-form-item-mobile' do %>
                            <span class = 'field-label emphasis'> Where are you based? </span><br>
                        <% end %><br>
                        <%= f.text_field :partner_location, class: 'form-control form-control-mobile', placeholder: "New York City, NY"  %><br>
                        <%= f.label :partner_food_type, class: 'field-label emphasis contact-form-item-mobile' do %>
                            <span class = 'field-label emphasis'> Does your company specialize in a specific type of cuisine? If so, what?</span><br>
                        <% end %><br>
                        <%= f.text_area :partner_food_type, class: 'form-control text-area-mobile', placeholder: "Please give us some background on the food you prepare."  %><br>
                        <%= f.label :partner_services_interest, class: 'field-label emphasis contact-form-item-mobile' do %>
                            <span class = 'field-label emphasis'>Which services are you interested in?</span><br>
                        <% end %><br>
                        <%= f.check_box :partner_post_offering, class: "checkboxtext checkbox-mobile"%>
                        <%= f.label :partner_post_offering, class: "checkbox-item-mobile" do %>
                            <span> Post your offerings on our platform</span>
                        <% end %><br>
                        <%= f.check_box :partner_analytics, class: "checkboxtext checkbox-mobile"%>
                        <%= f.label :partner_analytics, class: "checkbox-item-mobile" do %>
                            <span> Analytics Reports </span>
                        <% end %><br>
                        <%= f.check_box :partner_brand_management, class: "checkboxtext checkbox-mobile"%>
                        <%= f.label :partner_brand_management, class: "checkbox-item-mobile" do %>
                            <span> Media & Brand Management </span>
                        <% end %><br>
                        
                        <%= f.submit "Submit", class: "btn btn-success jumbo-button mt-2 btn-mobile" %><br>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>