<% provide(:title, "Mealkit Playbook") %>
<div class = "container">
    <div class = "row">
        <div class = "col-12 text-center pb-4">
            <h1 class="title-mobile">The Mealkit Playbook</h1>
        </div>
        <div class = "col- 12 col-lg-6 my-auto">
            <h5 class = "subtitle-mobile">How to increase revenue and brand awareness with mealkits</h5>
            <p class = "subtitle-description-mobile">Restaurants, Wholesalers and Farms are rapidly turning to mealkits
            and scheduled food delivery as part of their recovery strategy from the COVID-19 Pandemic.
            This playbook will show you how you can start your own meal kit and scheduled 
            food delivery service to add an additional revenue stream, boost your brand, and
            increase your customer base. You&apos;ll learn how to:</p>
            <ul>
                <li class = "subtitle-description-mobile">Choose the type of meal kit that is appropriate for your business</li>
                <li class = "subtitle-description-mobile">Select a delivery schedule based on your needs</li>
                <li class = "subtitle-description-mobile">Package your offerings based on meal kit type</li>
            </ul>
        </div>
        <div class = "col-12 col-lg-6 my-auto">
            <div class="form-block">
                <%= form_for(:playbook, url: mealkit_playbook_path) do |f| %>
                <%= f.label :name, class: 'field-label emphasis contact-form-item-mobile' do %>
                    <span class = 'field-label emphasis'> Name </span><br>
                <% end %><br>
                <%= f.text_field :name, class: 'form-control form-control-mobile', placeholder: "Name" %><br>
                <%= f.label :email, class: 'field-label emphasis contact-form-item-mobile' do %>
                    <span class = 'field-label emphasis'> Email </span><br>
                <% end %><br>
                <%= f.email_field :email, class: 'form-control form-control-mobile', placeholder: "Email" %><br>
                <%= f.label :phone_number, class: 'field-label emphasis contact-form-item-mobile' do %>
                    <span class = 'field-label emphasis'> Phone Number </span><br>
                <% end %><br>
                <%= f.telephone_field :phone_number, class: 'form-control text-area-mobile', placeholder: "Phone Number"  %><br>
                <%= f.submit "GET THE PLAYBOOK", class: "btn btn-success jumbo-button mt-2 btn-mobile download-button", id: "downloader" %><br>
                <% end %>
            </div>
        </div>
    </div>
</div>