<% provide(:title, "Single Kits") %>
<div class="plan-homepage">
    <div class="plan-homepage-2019">
        <section class="jumbotron jumbotron-fluid home-jumbotron jumbotron-mobile" id='jumbotron-plans'>
          <div class="container">
            <div class="row text-left">
              <div class="col-7 col-lg-5 justify-content-center" id="jumbo-textbox">
                <h1 class="homepage-text shadow-underscore jumbo-maintext title-larger-mobile">Kits</h1>
                <h3 class ="homepage-text pt-3 pb-3" id ="jumbo-subtext">Support small business in your community with a one-time meal kit purchase.</h3>
                <a href="#plan-offerings"><i class="fas fa-chevron-circle-down fa-3x scroll-down btn-fa-mobile" style="color: #449900;"></i></a>
              </div>
            </div>
          </div>
        </section>
        <div class="container" id="plan-offerings">
            <div class="row ml-3">
                <%  @one_off_products.each do |one_off_product| %>
                    <% if one_off_product.hide != "yes" %>
                        <div class="col-12 col-lg-4 pb-3 d-flex align-items-stretch card-padding-mobile">
                            <div class="card see-cooking card-width">
                                <%= link_to one_off_product_path(one_off_product) do %>
                                    <%= image_tag one_off_product.thumbnail.variant(resize: "450x450"), class:"card-img-top hover-gray", alt: "Meal Kit Plan Image" %>
                                    <div class="textOverlay align-middle text-center subtitle-description-mobile">
                                        <div class="showTextIndex align-middle text-center subtitle-mobile">See what&#39;s cooking</div>
                                    </div>
                                <% end %>
                                <div class="d-flex flex-column card-body text-center">
                                    <h4 class="card-title text-center title-card-mobile mt-auto"> <%= one_off_product.name %></h4>
                                    <p class="card-subtitle mb-2 text-center subtitle-description-mobile mt-auto" style="color:black"> <%= one_off_product.description %></p>
                                    <h5 class="text-center title-mobile mt-auto" style= "color:green">$<%= number_with_precision(one_off_product.price, precision: 2) %></h5>
                                    <% if one_off_product.servings != nil %>
                                        <% price_per_serving = (one_off_product.price / one_off_product.servings).to_f %>
                                        <h5 class="text-center title-mobile mt-auto" style= "color:green">Price per Meal: $<%= number_with_precision(price_per_serving, precision: 2) %></h5>
                                    <% end %>
                                    <% if logged_in? %>
                                        <% if current_user.admin? %>
                                            <%= link_to "Edit Product", edit_one_off_product_path(one_off_product), class: " mt-auto btn btn-warning btn-mobile" %>
                                            <%= link_to 'Delete Product', one_off_product_path(one_off_product), data: {confirm: "mt-auto Are you sure you want to delete this product?"}, method: :delete, class: "btn btn-danger btn-mobile" %>
                                        <% end %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            <div>
        </div>
    </div>
</div>