<% provide(:title, 'Prepared Food') %>
<div class = "container recipe-overview  mt-4 justify-content-center">
  <section class= "container">
    <div class = "recipe-header pt-2">
      <div class = "row pb-3">
        <div class= "col-12 text-center our-team-descr image-overlay">
          <span class"image-overlay">
            <%= image_tag(@one_off_product.thumbnail, class:"img-fluid hover-green", alt: "Product Image") %>
            <div class="textOverlay">
              <div class="showTextOurTeam adjust-size founder-description-mobile text-center" style="display: inline-block">
                <h5 class="founder-description-mobile"><%= @one_off_product.name %> </h5>
                <p class="subtext-about about-description-mobile">
                  <%= @one_off_product.description %>
                </p>
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>
    <div class= "row align-items-center text-center pb-3">
      <div class = "col-12 text-center align-items-center">
        <% if logged_in? %>
          <% symbolize = @one_off_product.name.downcase.to_sym %>
          <%= link_to 'ADD TO CART', new_purchase_one_off_path(one_off_product: @one_off_product.name.downcase, plan_id: Rails.application.credentials.development.dig(symbolize), one_off_product_name: @one_off_product.name.downcase ), class:"btn btn-outline-success jumbo-button btn-mobile" %>
          <%= link_to 'TEST CART', add_to_cart_path(one_off_product: @one_off_product.name.downcase), class:"btn btn-outline-success jumbo-button btn-mobile" %>
        <% else %>
          <%= link_to 'START COOKING', new_user_path, class:"btn btn-outline-success jumbo-button btn-mobile" %>
        <% end %>
      </div>
    </div>

    <% if logged_in? %>
      <% if current_user.admin? %>
        <%= link_to 'Edit Product', edit_one_off_product_path(@one_off_product), class: "btn btn-warning btn-mobile" %>
      <% end %>
    <% end %>
  </section>
</div>