<% provide(:title, @one_off_product.name) %>
<div class = "container recipe-overview  mt-4 justify-content-center">
  <section class= "container">
    <div class = "recipe-header pt-2">
      <div class = "row pb-5">
        <div class = "col-12 text-center pb-2">
          <h1 class "pb-1 title-mobile"><%= @one_off_product.name %> </h1>
        </div>
        <div class= "col-7 text-center recipe-header-button">
          <%= image_tag(@one_off_product.thumbnail, class:"img-fluid", alt: "Product Image") %>
        </div>
        <div class = "col-5 text-center my-auto">
          <% if @one_off_product.calories != nil && one_off_product.fats != nil %>
            <div class = "recipe-intro d-flex pt-3">
              <ul class= "stats list-inline mx-auto justify-content-center">
                <li class = "list-inline-item">
                  <div class="stats-item subtitle-mobile">
                    <%= @one_off_product.calories %>
                  </div>
                  <div class="stats-subitem subtitle-mobile">
                    Calories 
                  </div>
                </li>
                <li class="list-inline-item">
                  <div class="stats-item subtitle-mobile">
                    <%= @one_off_product.fats %>
                  </div>
                  <div class="stats-subitem subtitle-mobile">
                    Grams of Fat
                  </div>
                </li>
                <li class="list-inline-item">
                  <div class="stats-item subtitle-mobile">
                    <%= @one_off_product.servings %>
                  </div>
                  <div class="stats-subitem subtitle-mobile">
                    Servings
                  </div>
                </li>
                <li class="list-inline-item">
                  <div class="stats-item subtitle-mobile">
                    <%= @one_off_product.prep_time %>
                  </div>
                  <div class="stats-subitem subtitle-mobile">
                    Prep Time
                  </div>
                </li>
              </ul>
            </div>  
          <% else %>
            <div class = "recipe-intro d-flex pt-3">
              <ul class= "stats list-inline mx-auto justify-content-center">
                <li class="list-inline-item">
                  <div class="stats-item subtitle-mobile">
                    <%= @one_off_product.prep_time %>
                  </div>
                  <div class="stats-subitem subtitle-mobile">
                    Prep Time
                  </div>
                </li>
              </ul>
            </div>
          <% end %>
          <% if @one_off_product.extended_description != nil %>
            <p class="description-text subtitle-description-mobile"> <%= @one_off_product.extended_description %></p>
          <% else %>
            <p class="description-text subtitle-description-mobile"> <%= @one_off_product.description %></p>
          <% end %>
          <% if logged_in? %>
            <%= link_to 'ADD TO CART', add_to_cart_path(one_off_product: @one_off_product.name), class: "btn btn-outline-success jumbo-button btn-mobile" %>
          <% else %>
            <%= link_to 'ADD TO CART', guest_add_to_cart_path(one_off_product: @one_off_product.name), class:"btn btn-outline-success jumbo-button btn-mobile" %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>