<div class= "col-12 text-center our-team-descr image-overlay">
          <span class"image-overlay">
            <%= image_tag(@one_off_product.thumbnail, class:"img-fluid hover-green", alt: "Product Image") %>
            <div class="textOverlay">
              <div class="showTextOurTeam adjust-size founder-description-mobile text-center" style="display: inline-block">
                <h5 class="founder-description-mobile"><%= @one_off_product.name %> </h5>
                <p class="subtext-about about-description-mobile">
                  <%= @one_off_product.description %>
                </p>
              </div>
            </div>
          </span>
        </div>
      </div>
    

      <%= form_for(:quantity, url: one_off_product_path) do |f| %>
        <%= f.label :quantity, class: 'field-label emphasis contact-form-item-mobile' do %>
          <span class = 'field-label emphasis'> Quantity </span>
        <% end %>
        <%= f.number_field :quantity, class: 'form-control form-control-mobile', placeholder: "1" %><br>
      <% end %>