<h1>Markitplace</h1>

<p>Hi Support Staff, <%= @partner_name %> is interested in your services.</p>

<p>
The Partner is located Here:<br>
<%= @partner_location %>
</p><br>
<br>
<p>The Partner specializes in the following cusinine:<br>
<%= @partner_cuisine%>
</p>
<p>The customer response regarding posting to the site:<br>
<% if @partner_post_offerings==1 %>
    <%= "yes" %>
<% else %>
    <%= "no" %>
<% end %>
</p><br>
<p>The customer response regarding Analytics:<br>
<% if @partner_analytics_reports==0 %>
    <%= "yes" %>
<% else %>
    <%= "no" %>
<% end %>
</p><br>
<p>The customer response regarding brand management:<br>
<% if @partner_brand_management.to_i==0 %>
    <%= "yes" %>
<% else %>
    <%= "no" %>
<% end %>
</p><br>

