<h1>Markitplace</h1>

<p>Hi, <%= @user_name %> Thank you for purchasing <strong><%= @one_off_order.name.upcase %></strong> plan. This email will serve as your automated
email receipt and order confirmation. Your purchase will
be sent to the following address: <br>

<p><%= @street_address_1 %> </p>
<p><%= @street_address_2 %> </p>
<p><%= @city %> </p>
<p><%= @state %> </p>
<p><%= @zipcode %> </p>

