<h1>Markitplace</h1>

<p> Hi, a customer has purchased one of your products. The customer and product information is as follows:</p>
<p>Product Requested: <strong> <%= @one_off_product.name %> </strong> </p>
<p>The customer has requested that their meal kit be sent to the following address: </p> <br>
<p><%= @street_address_1 %> </p>
<p><%= @street_address_2 %> </p>
<p><%= @city %> </p>
<p><%= @state %> </p>
<p><%= @zipcode %> </p>
