<h1>Markitplace</h1>

<p> Hi, a subsription for your meal kit has been created. The customer information is as follows:</p>
<p>Subscription Plan Requested: <strong> <%= @plan_type.name %> </strong> </p>
<p>The customer has requested that their meal kit be sent to the following address: </p> <br>
<p><%= @street_address_1 %> </p>
<p><%= @street_address_2 %> </p>
<p><%= @city %> </p>
<p><%= @state %> </p>
<p><%= @zipcode %> </p>

 