<%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>
    <p class="subtext-gray pb-1 signup-text description-text-mobile">Your password must be at least eight characters long and must 
    contain at least one uppercase character,
    one lowercase character & a symbol. </p>

    <%= f.text_field :name, class: 'form-control form-control-mobile', placeholder: "Name" %><br>

    <%= f.email_field :email, class: 'form-control form-control-mobile', placeholder: "Email" %><br>

    <%= f.password_field :password, class: 'form-control form-control-mobile', placeholder: "Password" %><br>

    <%= f.password_field :password_confirmation, class: 'form-control form-control-mobile', placeholder: "Password Confirmation" %><br>

    <%= f.submit "Submit", class: "btn btn-success btn-block btn-mobile" %><br>
<% end %>