<% provide(:title, @user.name) %>
<div class = "container justify-content-center">
  <div class="row our-team pt-3">
    <div class = "col-4">
    <span></span>
    </div>
    <h1 class = "pb-2"> Account Information </h1>
    <div class="col-4 our-team-descr justify-content-center text-center border-shadow margin-nonmobile-right">
      <% if @user.thumbnail.attached? %>
        <span class="image-overlay">
          <%= image_tag(@user.thumbnail, class: "img-rounded img-fluid headshot-border hover-green", alt:"User Avatar") %>
          <div class="textOverlay">
            <div class="showTextOurTeam" style="display: inline-block">
              <h3 class = "founder-description-mobile"><%= @user.name %></h4>
              <p class = "about-description-mobile">Username: <%= @user.email %></p>
              <p class = "about-description-mobile">Account activated: <%= @created_at %></p>
            </div>
          </div>
        </span>
      <% else %>
        <h3><%= @user.name %></h4>
        <p>Email & username: <%= @user.email %></p>
        <p>Account activated: <%= @created_at %></p>
      <% end %>
    </div>
  </div>
</div>