<% provide(:title, @user.name) %>
<div class = "container justify-content-center">
  <div class="row pt-3">
    <div class = "col-4">
    <span></span>
    </div>
    <div class="col-4 justify-content-center text-center border-shadow margin-nonmobile-right">
      <% if @user.thumbnail.attached? %>
        <%= image_tag(@user.thumbnail, class: "img-rounded img-fluid headshot-border hover-green", alt:"User Avatar") %>
        <h3><%= @user.name %></h4>
        <p>Email & username: <%= @user.email %></p>
        <p>Account activated: <%= @user.created_at %></p>
      <% else %>
        <h3><%= @user.name %></h4>
        <p>Email & username: <%= @user.email %></p>
        <p>Account activated: <%= @user.created_at %></p>
      <% end %>
    </div>
  </div>
</div>