# FROM EDIT.HTML.ERB
# <div class="gravatar_edit">
        #   <%= gravatar_for @user %>
        #   <a href="http://gravatar.com/emails" target="_blank">Change</a>
# </div>


# FROM SESSIONS-->NEW
# <h1 style= "text-align: center">Log in</h1>

# <div class="row justify-content-center">
#   <div class="col-md-6 col-md-offset-3">
#     <%= form_for(:session, url: login_path) do |f| %>
#       <%= f.email_field :email, class: 'form-control', placeholder: "Email" %><br>

#       <%= link_to "(forgot password)", new_password_reset_path %><br>
#       <%= f.password_field :password, class: 'form-control', placeholder: "Password" %><br>

#       <%= f.label :remember_me, class: "checkbox inline" do %>
#         <%= f.check_box :remember_me %>
#         <span>Remember Me</span>
#       <% end %><br>

#       <%= f.submit "Log in", class: "btn btn-primary btn-block" %><br>
#     <% end %>

#     <p>New user? <%= link_to "Sign up now!", signup_path %></p>
#   </div>
</div>

# FROM CONTACT PAGE
# <form>
#           <div class="text-block pb-3">
#             Please fill out the form below with how we can help you today and a support specialist will contact you shorty. Thank you!
#           </div>
#           <label for="name" class="field-label emphasis">Name</label>
#           <input type="text" class="form-control" name="contact_name" placeholder="Enter your Name">
#           <label for="email" class="field-label emphasis">Email</label>
#           <input type="email" class="form-control" name="contact_email" placeholder="Enter your email">
#           <label for="how-did-you-hear" class="field-label emphasis">How did you hear about Markitplace?</label>
#           <textarea id="optional-info-how-did-you-hear" name="contact_how" maxlength="5000" class="form-control"></textarea>
#           <label for="how-can-we-help" class="field-label emphasis">How can we help you?</label>
#           <textarea id="optional-how-can-we-help" name="contact_help" maxlength="5000" class="form-control"></textarea>
#           <button type="submit" class="btn btn-success jumbo-button mt-2">Submit</button>
#         </form>


<%= form_tag '/contact' do%>
        Name : </br><%= text_field_tag 'contact_name',  class:"form-control", placeholder:"Enter your Name", ''%></br>
        Email : </br><%= text_field_tag 'contact_email',  class:"form-control", placeholder:"Enter your email", ''%></br>
        How Did you Hear about Markitplace? :<%= text_area_tag 'contact_how',  class:"form-control", ''%></br>
        How can we help you today? :<%= text_area_tag 'contact_help',  class:"form-control",  ''%></br>
        <%= submit_tag "submit", class: "btn btn-success jumbo-button mt-2", :value => "submit" %>
      <%end%>