<% provide(:title, 'Checkout') %>
<div class = "container subscription-overview  mt-4 justify-content-center">
  <section class= "container">
    <div class = "subscription-header pt-2">
      <div class = "row">
        <div class = "col-xs-12 col-sm-6 checkout-header">
            <h1 class="title-larger-mobile">Checkout</h1>
            <h4>Order Summary: $<%= @total_price %> </h4>
            <% @cart_items.each do |item| %>
              <div class = "row pb-3">
                  <div class = "col-xs-12 col-sm-6">
                      <%= image_tag item.thumbnail.variant(resize: "450x450"), class: "img-fluid" %>
                  </div>
                  <div class = "col-xs-12 col-sm-6">
                      <h5 class="title-mobile"><%= item.name %></h5>
                      <p class="subtitle-mobile"> <%= item.description %></p>
                  </div>
              </div>
          <% end %>
          <% @cart_items_subscriptions.each do |item| %>
            <div class = "row pb-3">
                <div class = "col-xs-12 col-sm-6">
                    <%= image_tag item.thumbnail.variant(resize: "450x450"), class: "img-fluid" %>
                </div>
                <div class = "col-xs-12 col-sm-6">
                    <h5 class="title-mobile"><%= item.name %></h5>
                    <p class="subtitle-mobile"><%= item.description %></p>
                </div>
            </div>
        <% end %>

        </div>
        <div class= "col-xs-12 col-sm-6 checkout-header">
          <%= form_for(:payment_shipping, url: checkout_path, html: {id: "payment-form"}) do |f| %>
            <div class="shipping-information">
              <h1 class="title-mobile">Shipping Information</h1>
              <%= f.label :recipient_name, class: 'field-label emphasis' do %>
                <span class = 'field-label emphasis'> Name </span>
              <% end %>
              <%= f.text_field :recipient_name, class: 'form-control', placeholder: "Name" %>
              <%= f.label :street_address_1, class: 'field-label emphasis' do %>
                <span class = 'field-label emphasis'> Street Address 1 </span>
              <% end %>
              <%= f.text_field :street_address_1, class: 'form-control', placeholder: "Street Address" %>
              <%= f.label :street_address_2, class: 'field-label emphasis' do %>
                <span class = 'field-label emphasis'> Street Address (Room/Apt Number) </span>
              <% end %>
              <%= f.text_field :street_address_2, class: 'form-control', placeholder: "Street Address" %>
              <%= f.label :city, class: 'field-label emphasis' do %>
                <span class = 'field-label emphasis'> City </span>
              <% end %>
              <%= f.text_field :city, class: 'form-control', placeholder: "City" %>
              <%= f.label :state, class: 'field-label emphasis' do %>
                <span class = 'field-label emphasis'> State </span>
              <% end %>
              <%= f.text_field :state, class: 'form-control', placeholder: "State" %>
              <%= f.label :zipcode, class: 'field-label emphasis' do %>
                <span class = 'field-label emphasis'> Zipcode </span>
              <% end %>
              <%= f.number_field :zipcode, class: 'form-control', placeholder: "Zipcode" %><br>
            </div>
            <div class="payment-information">
              <h1 class="title-mobile">Card Information</h1>
              <div class="field card-information">
                <label for="card-element" class="field-label emphasis">Enter credit or debit card</label>
                <div id="card-element">
                  <!-- A Stripe Element will be inserted here. -->
                </div>
                <br>
      
                <div id="card-errors" role="alert"></div>
      
                <%= hidden_field_tag :plan_id, params[:plan_id] %>
                <%= hidden_field_tag :plan_name, params[:plan_name] %>
      
                <button class="btn btn-outline-success mt-1">Submit</button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>