<% provide(:title, "Cart") %>
<div class="plan-homepage">
    <div class="plan-homepage-2019">
        <div class="container" id="plan-offerings">
            <div class="row ml-3">
                <div class = "col-12 pb-3 text-center">
                    <h1 class = "title-larger-mobile">Your Cart </h1><br>
                    <%= link_to "Checkout", checkout_path, class: "btn btn-outline-success jumbo-button btn-mobile" %>
                </div>
                <%  @cart_items.each do |one_off_product| %>
                    <div class="col-12 col-lg-4 pb-3 align-items-stretch card-padding-mobile">
                        <div class="card see-cooking card-width">
                            <%= link_to one_off_product_path(one_off_product) do %>
                                <%= image_tag one_off_product.thumbnail.variant(resize: "450x450"), class:"card-img-top hover-gray", alt: "Meal Kit Plan Image" %>
                                <div class="textOverlay align-middle text-center subtitle-description-mobile">
                                    <div class="showTextIndex align-middle text-center subtitle-description-mobile">See what&#39;s cooking</div>
                                </div>
                            <% end %>
                            <div class="card-body text-center d-flex flex-column">
                                <h5 class="card-title text-center title-card-mobile"> <%= one_off_product.name %></h5>
                                <h6 class="text-center title-mobile">$<%= one_off_product.price %></h6>
                                <h6 class="card-subtitle mb-2 text-muted text-center subtitle-description-mobile pb-2"> <%= one_off_product.description %></h6>
                                <%= link_to "Remove from Cart", cart_path(one_off_product: one_off_product.name), data: {confirm: "Are you sure you want to remove this from our cart?"}, method: :delete, class: "btn btn-danger btn-mobile mt-auto my-auto" %> 
                            </div>
                        </div>
                    </div>
                <% end %>
                <% @cart_items_subscriptions.each do |subscription| %>
                    <div class="col-12 col-lg-4 pb-3 align-items-stretch card-padding-mobile">
                        <div class="card see-cooking card-width">
                            <%= link_to plan_type_path(subscription) do %>
                                <%= image_tag subscription.thumbnail.variant(resize: "450x450"), class:"card-img-top hover-gray", alt: "Meal Kit Plan Image" %>
                                <div class="textOverlay align-middle text-center subtitle-description-mobile">
                                    <div class="showTextIndex align-middle text-center subtitle-description-mobile">See what&#39;s cooking</div>
                                </div>
                            <% end %>
                            <div class="card-body text-center d-flex flex-column">
                                <h5 class="card-title text-center title-card-mobile"> <%= subscription.name %></h5>
                                <h6 class="text-center title-mobile">$<%= subscription.price %></h6>
                                <h6 class="card-subtitle mb-2 text-muted text-center subtitle-description-mobile pb-2"> <%= subscription.description %></h6>
                                <%= link_to "Remove from Cart", cart_path(plan_type: subscription.name), data: {confirm: "Are you sure you want to remove this from our cart?"}, method: :delete, class: "btn btn-danger btn-mobile mt-auto my-auto" %> 
                            </div>
                        </div>
                    </div>
                <% end %>
            <div>
        </div>
    </div>
</div>