<% @cart_items.each do |item| %>
    <div class = "row pb-3">
        <div class = "col-6">
            <%= image_tag item.thumbnail.variant(resize: "450x450"), class: "img-fluid" %>
        </div>
        <div class = "col-6">
            <h5><%= item.name %></h5>
            <%= item.description %>
        </div>
    </div>
<% end %>

<%= form_for(:product_name, url: cart_path), html: {id: "quantity-form"}) do |f| %>
    <%= f.label :quantity, class: 'field-label emphasis contact-form-item-mobile' do %>
        <span class = 'field-label emphasis'> Quantity </span>
    <% end %>
    <%= f.number_field :quantity, class: 'form-control form-control-mobile', placeholder: "Quantity" %><br>
<% end %>
<%= f.number_field :quantity, class: 'form-control form-control-mobile', placeholder: "Zipcode" %><br>