<% provide(:title, "Meal Kits Plans") %>
<div class="plan-homepage">
    <div class="plan-homepage-2019">
        <section class="jumbotron jumbotron-fluid" id='jumbotron-plans'>
          <div class="container">
            <div class="row justify-content-end">
              <div class="col-12 col-lg-5 justify-content-end" id="jumbo-textbox">
                <h1 class="homepage-text shadow-underscore jumbo-maintext">THE RIGHT MEAL KIT AT THE BEST AVAILABLE PRICE</h1>
                <h3 class ="homepage-text pt-3 pb-3" id ="jumbo-subtext">Check out our offerings, who we partner with, and other relevant information
                below.</h3>
              </div>
            </div>
          </div>
        </section>
        <div class="container" id="plan-offerings">
            <div class="row ml-3">
                <%  @plan_types.each do |plan_type| %>
                    <div class="col-4 pb-3">
                        <div class="card see-cooking" style="width: 18rem;">
                            <%= link_to plan_type_path(plan_type) do %>
                                <%= image_tag plan_type.thumbnail.variant(resize: "450x450"), class:"card-img-top hover-gray" %>
                                <div class="textOverlay">
                                    <div class="showText">See what&#39;s cooking</div>
                                </div>
                            <% end %>
                            <div class="card-body text-center">
                                <h5 class="card-title text-center"> <%= plan_type.name %></h5>
                                <h6 class="card-subtitle mb-2 text-muted text-center"> <%= plan_type.description %></h6>
                                <% if logged_in? %>
                                    <% if current_user.admin? %>
                                        <%= link_to "More Info", plan_type_path(plan_type), class:"btn btn-success" %>
                                        <%= link_to "Edit Plan", edit_plan_type_path(plan_type), class: "btn btn-danger" %>
                                    <% elsif current_user.is_subscribed? %>
                                        <%= link_to "More Info", plan_type_path(plan_type), class:"btn btn-success" %>
                                    <% else %>
                                        <%= link_to "Else Conditional", plan_type_path(plan_type), class:"btn btn-success" %>
                                    <% end %>
                                <% else %>
                                    <%= link_to "More Info - Generic", plan_type_path(plan_type), class:"btn btn-success" %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                <% end %>
            <div>
        </div>
    </div>
</div>