<% provide(:title, "Meal Kits") %>
<div class="product-homepage">
    <div class="product-homepage-2019">
        <section class="jumbotron jumbotron-fluid" id='jumbotron-products'>
          <div class="container">
            <div class="row justify-content-end">
              <div class="col-12 col-lg-5 justify-content-end" id="jumbo-textbox">
                <h1 class="homepage-text shadow-underscore jumbo-maintext">THE RIGHT MEAL KIT AT THE BEST AVAILABLE PRICE</h1>
                <h3 class ="homepage-text pt-3 pb-3" id ="jumbo-subtext">Check out our offerings, who we partner with, and other relevant information
                below.</h3>
              </div>
            </div>
          </div>
        </section>
        <div class="container" id="product-offerings">
          <div class="row pb-3 ml-3">
                <div class="col-4">
                    <div class="card see-cooking" style="width: 18rem;">
                        <div class="ribbon-wrapper">
                            <div class="ribbon green">Keto</div>
                        </div>
                        <%= image_tag('mealkit1b.jpg', class:"card-img-top hover-gray") %>
                        <div class="textOverlay">
                            <div class="showText">See what&#39;s cooking</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">Keto Grain & Veggie Bowl</h5>
                            <h6 class="card-subtitle mb-2 text-muted text-center">Brett&#39;s Best</h6>
                            <p class="card-text text-center"280 Calories, 43g Protein, 9g Carbs, 8g Fats</p>
                            <%= link_to "More Info", "#", class:"btn btn-success text-center" %>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card see-cooking" style="width: 18rem;">
                        <div class="ribbon-wrapper">
                            <div class="ribbon green">Paleo</div>
                        </div>
                        <%= image_tag('plate1b.jpg', class:"card-img-top hover-gray") %>
                        <div class="card-body">
                        <div class="textOverlay">
                            <div class="showText">See what&#39;s cooking</div>
                        </div>
                            <h5 class="card-title text-center">Steak, Eggs & Kale</h5>
                            <h6 class="card-subtitle mb-2 text-muted text-center">Brett&#39;s Best</h6>
                            <p class="card-text text-center"800 Calories, 100g Protein, 20g Carbs, 15g Fats</p>
                            <%= link_to "More Info", "#", class:"btn btn-success text-center" %>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card see-cooking" style="width: 18rem;">
                        <div class="ribbon-wrapper">
                            <div class="ribbon green">Paleo</div>
                        </div>
                        <%= image_tag('plate4b.jpg', class:"card-img-top hover-gray") %>
                        <div class="textOverlay">
                            <div class="showText">See what&#39;s cooking</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">Beef and Spinach Tacos</h5>
                            <h6 class="card-subtitle mb-2 text-muted text-center">Brett&#39;s Best</h6>
                            <p class="card-text text-center"600 Calories, 31g Protein, 12g Carbs, 12g Fats.</p>
                            <%= link_to "More Info", "#", class:"btn btn-success text-center" %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pb-3 ml-3">
                <div class="col-4">
                    <div class="card see-cooking" style="width: 18rem;">
                        <div class="ribbon-wrapper">
                            <div class="ribbon green">Vegan</div>
                        </div>
                        <%= image_tag('plate7b.jpg', class:"card-img-top hover-gray") %>
                        <div class="textOverlay">
                            <div class="showText">See what&#39;s cooking</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">Quinoa and Vegetables</h5>
                            <h6 class="card-subtitle mb-2 text-muted text-center">Bob&#39;s Barn</h6>
                            <p class="card-text text-center"280 Calories, 43g Protein, 9g Carbs, 8g Fats.</p>
                            <%= link_to "More Info", "#", class:"btn btn-success text-center" %>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card see-cooking" style="width: 18rem;">
                        <div class="ribbon-wrapper">
                            <div class="ribbon green">Vegan</div>
                        </div>
                        <%= image_tag('plate8b.jpg', class:"card-img-top hover-gray") %>
                        <div class="textOverlay">
                            <div class="showText">See what&#39;s cooking</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">Mexican Street Corn</h5>
                            <h6 class="card-subtitle mb-2 text-muted text-center">Bob&#39;s Barn</h6>
                            <p class="card-text text-center"280 Calories, 43g Protein, 9g Carbs, 8g Fats.</p>
                            <%= link_to "More Info", "#", class:"btn btn-success text-center" %>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card see-cooking" style="width: 18rem;">
                        <div class="ribbon-wrapper">
                            <div class="ribbon green">Paleo</div>
                        </div>
                        <%= image_tag('plate10b.jpg', class:"card-img-top hover-gray") %>
                        <div class="textOverlay">
                            <div class="showText">See what&#39;s cooking</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">Chicken & Avocado</h5>
                            <h6 class="card-subtitle mb-2 text-muted text-center">Bob&#39;s Barn</h6>
                            <p class="card-text text-center"280 Calories, 43g Protein, 9g Carbs, 8g Fats.</p>
                            <%= link_to "More Info", "#", class:"btn btn-success text-center" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<% symbolize = @plan_type.name.downcase.to_sym %>
                        <%= link_to "ADD TO CART", new_subscription_path(plan: @plan_type.name.downcase, plan_id: Rails.application.credentials.development.dig(symbolize), plan_name: @plan_type.name.downcase ), class: "btn btn-success jumbo-button btn-mobile" %>