<% provide(:title, "Meal Kits") %>
<div class="product-homepage">
    <div class="product-homepage-2019">
        <section class="jumbotron jumbotron-fluid" id='jumbotron-products'>
          <div class="container">
            <div class="row justify-content-end">
              <div class="col-12 col-lg-5 justify-content-end" id="jumbo-textbox">
                <h1 class="homepage-text shadow-underscore jumbo-maintext">THE RIGHT MEAL KIT AT THE BEST AVAILABLE PRICE</h1>
                <h3 class ="homepage-text pt-3 pb-3" id ="jumbo-subtext">Check out our offerings, who we partner with, and other relevant information
                below.</h3>
              </div>
            </div>
          </div>
        </section>
        <div class="container" id="product-offerings">
            <div class="row ml-3">
                <%  @products.each do |product| %>
                    <div class="col-4 pb-3">
                        <div class="card see-cooking w-33" style="width: 18rem;">
                            <div class="ribbon-wrapper">
                                <div class="ribbon green"> <%= product.plan_type_name %> </div>
                            </div>
                            <%= image_tag product.thumbnail.variant(resize: "940x440"), class:"card-img-top hover-gray" %>
                            <div class="textOverlay">
                                <div class="showText">More Info</div>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title text-center"> <%= product.name %></h5>
                                <h6 class="card-subtitle mb-2 text-muted text-center"> <%= product.partner_name %></h6>
                                <p class="card-text text-center" id="overwrite-card-text"> <%= product.calories %> Calories <%= product.protein %>g Protein, <%= product.carbs %> Carbs, <%=product.fats %>g Fats </p>
                                <% if current_user.is_subscribed? %>
                                    <%= link_to "More Info - Test", product_path(product), class:"btn btn-success" %>
                                <% else %>
                                    <%= link_to "More Info", product_path(product), class:"btn btn-success" %>
                                <% end %>  
                            </div>
                        </div>
                    </div>
                <% end %>
            <div>
        </div>
    </div>
</div>