<% provide(:title, 'Show Product') %>

<div class='container'>
  <div class="row topspace-lg justify-content-center">
    <div class="card" style="width: 35rem">
      <h1 style = "text-align:center"> <%=@product.name %> </h1>
      <%= image_tag @product.thumbnail, class: "card-img-top" %>
      <div class="card-body text-center">
        <p><%= @product.description %></p>
        <% if current_user.admin? %>
          <%= link_to 'Edit Product', edit_product_path(@product) %> <br>
        <% end %>
        <%= link_to "More Info", product_path(@product), class:"btn btn-success" %>
      </div>
    </div>
  </div>
</div>