<% provide(:title, 'Show Product') %>
<div class = "container recipe-overview  mt-4 justify-content-center">
  <section class= "container">
    <div class = "recipe-header pt-2">
      <div class = "row">
        <div class = "col-6 my-auto recipe-header-text align-content-center">
          <h1><%= @product.name %> </h1>
          <p>This is going to be some sample text until we build header text into 
          the model</p>
          <%= link_to "START COOKING", new_subscription_path, class:"btn btn-outline-success jumbo-button" %>
        </div>
        <div class= "col-6 reciper-header-button">
          <%= image_tag @product.thumbnail, class:"img-fluid" %>
        </div>
      </div>
    </div>
    <div class = "recipe-intro d-flex">
      <ul class="stats list-inline mx-auto justify-content-center">
        <li class="list-inline-item">
          <div class="stats-item">
            <%= @product.calories %>
          </div>
          <div>
            Calories 
          </div>
        </li>
        <li class="list-inline-item">
          <div class="stats-item">
            <%= @product.fats %>
          </div>
          <div>
            Grams of Fat
          </div>
        </li>
        <li class="list-inline-item">
          <div class="stats-item">
            <%= @product.carbs %>
          </div>
          <div>
            Carbs
          </div>
        </li>
      </ul>
    </div>
    <% if logged_in? %>
      <% if current_user.admin? %>
        <%= link_to 'Edit Product', edit_product_path(@product), class: "btn btn-warning" %>
        <%= link_to 'Delete Product', product_path(@product), method: :delete, class: "btn btn-danger" %>
      <% end %>
    <% end %>
  </section>
</div>