<nav class="navbar navbar-expand-lg navbar-light sticky-top" id="mainNavbar">
    <div class="navbar-header">
        <%=link_to image_tag("markitplace-shades-rectangle.png", id:"nameBrand"), root_path, class: "navbar-brand"  %>
    </div>
    <button class="navbar-toggler navbar-toggler-right nav-collpase-mobile float-xs-right ml-auto" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class = "navbar-nav mr-auto">
                <li class="nav-item active n-homepage nav-text-mobile"><%= link_to "Home",   root_path, class: "nav-color nav-link nav-text-mobile", id: "test-color" %><span class="sr-only">(current)</span></li>
                <% if logged_in? %>
                    <% if current_user.admin? %>
                        <li class= "nav-item dropdown" data-turbolinks="false">
                            <a href="#" class="nav-link nav-text-mobile dropdown-toggle" id="navbarDropdown" style="color:black" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  data-turbolinks="false">Products</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <%= link_to "View Plans", plan_types_path, class: "dropdown-item nav-link nav-text-mobile" %>
                                <%= link_to "View Products", products_path, class: "dropdown-item nav-link nav-text-mobile" %>
                                <%= link_to "View One Offs", one_off_products_path, class: "dropdown-item nav-link nav-text-mobile" %>
                                <%= link_to "Add Plan", new_plan_type_path, class: "dropdown-item nav-link nav-text-mobile" %>
                                <%= link_to "Add Product", new_product_path, class: "dropdown-item nav-link nav-text-mobile" %> 
                                <%= link_to "Add One Off", new_one_off_product_path, class: "dropdown-item nav-link nav-text-mobile" %> 
                            </div>
                        </li> 
                    <% else %>
                        <li class= "nav-item dropdown" data-turbolinks="false">
                            <a href="#" class="nav-link nav-text-mobile dropdown-toggle" id="navbarDropdown" style="color:black" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  data-turbolinks="false">Meals</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <%= link_to "Meal Kits", plan_types_path, class: "nav-color nav-link nav-text-mobile" %>
                                <%= link_to "Prepared Food", one_off_products_path, class: "nav-color nav-link nav-text-mobile" %>
                            </div>
                        </li>
                    <% end %>
                <% else %>
                <li class= "nav-item dropdown" data-turbolinks="false">
                    <a href="#" class="nav-link nav-text-mobile dropdown-toggle" id="navbarDropdown" style="color:black" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  data-turbolinks="false">Meals</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <%= link_to "Meal Kits", plan_types_path, class: "nav-color nav-link nav-text-mobile" %>
                        <%= link_to "Prepared Food", one_off_products_path, class: "nav-color nav-link nav-text-mobile" %>
                    </div>
                </li>
                <% end %>
                <li class= "nav-item dropdown" data-turbolinks="false">
                    <a href="#" class="nav-link nav-text-mobile dropdown-toggle" id="navbarDropdown" style="color:black" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  data-turbolinks="false">About Us</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <%= link_to "Services", services_path, class: "dropdown-item nav-link nav-text-mobile" %>
                        <%= link_to "Our Team",  our_team_path, class: "dropdown-item nav-link nav-text-mobile" %>
                        <%= link_to "Contact", contact_path, class: "dropdown-item nav-link nav-text-mobile" %>
                    </div>
                </li>     
            </ul>
            <ul class="navbar-nav">
                <% if logged_in? %>
                    <li class= "nav-item dropdown" data-turbolinks="false">
                        <a href="#" class="nav-link nav-text-mobile dropdown-toggle" id="navbarDropdown" style="color:black" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-turbolinks="false">Account</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <% if user_subscribed? %>
                                <%= link_to "Subscriptions", plan_subscription_library_index_path, class: "dropdown-item nav-link nav-text-mobile" %>
                                <%= link_to "Settings", edit_user_path(current_user), class: "dropdown-item nav-link nav-text-mobile" %>
                                <div class="dropdown-divider"></div>
                                <%= link_to "Log Out", logout_path, method: :delete, class: "dropdown-item nav-link nav-text-mobile" %>
                            <% else %>
                                <%= link_to "Settings", edit_user_path(current_user), class: "dropdown-item nav-link nav-text-mobile" %>
                                <div class="dropdown-divider"></div>
                                <%= link_to "Log out", logout_path, method: :delete, class: "dropdown-item nav-link nav-text-mobile" %>
                            <% end %>
                        </div>
                    </li>
                <% else %>
                    <li class="nav-item nav-text-mobile active n-homepage"><%= link_to "Sign up", signup_info_path, class: "nav-link nav-text-mobile" %></li>
                    <li class="nav-item nav-text-mobile active n-homepage"><%= link_to "Log in", login_path, class: "nav-link nav-text-mobile" %></li>
                <% end %>
            </ul>
            <% if signed_in? %>
            <ul class="navbar-nav fa-stack" data-count= <% get_cart_length %> >
                <li class="nav-item nav-text-mobile active n-homepage btn btn-lg btn-mobile-left"><%= link_to cart_path do %>
                    <i class="fas fa-shopping-cart fa-stack-1x btn-mobile-left" style="color:black;"></i>
                <% end %>
                </li>
            </ul>
            <% end %>
    </div>
</nav>