<header class="navbar navbar-expand-lg navbar-light sticky-top navbar-fixed-top">
    <div class="container">
        <nav>
            <%= image_tag("mK.png", id: "nameBrand") %>
            <%= link_to "Markitplace", root_path, id: "logo", class: "navbar-brand" %>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item active n-homepage"><%= link_to "Home",   root_path, class: "nav-color" %></li>
                <li class="nav-item active n-our-team"><%= link_to "Our Team",  our_team_path, class: "nav-color" %></li>
                <li class="nav-item active n-contact-us"><%= link_to "Contact", contact_path, class: "nav-color" %></li>
                <% if logged_in? %>
                    <li class="nav-item active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <%= link_to "Account", '#', class: "nav-color dropdown-toggle btn btn-outline-success"%>
                        <div class="dropdown-menu">
                            <%= link_to "Profile", current_user, class: "nav-color" %><br>
                            <%= link_to "Settings", edit_user_path(current_user), class: "nav-color" %>
                            <div class="dropdown-divider"></div>
                            <%= link_to "Log out", logout_path, method: :delete, class: "nav-color" %>
                        </div>
                    </li>

                <% else %>
                    <li class="nav-item active n-homepage"><%= link_to "Log in", login_path, class: "nav-color" %></li>
                <% end %>
            </ul>
        </nav>
    </div>
</header>