<ul class="navbar-nav">
<% if logged_in? %>
    <li class= "nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown black-color" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", current_user, class: "dropdown-item" %>
            <%= link_to "Settings", edit_user_path(current_user), class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "Log out", logout_path, method: :delete, class: "dropdown-item" %>
        </div>
    </li>
<% else %>
    <li class="nav-item active n-homepage"><%= link_to "Log in", login_path, class: "nav-link" %></li>
<% end %>
</ul>
</div>
</nav>


<h1>Change Password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= hidden_field_tag :email, @user.email %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Update password", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= link_to "Profile", current_user, class: "dropdown-item nav-link nav-text-mobile" %>

<% provide(:title, "Password Reset") %>
<div class='container'>
  <div class="row topspace-lg justify-content-center">
    <div class= "col-12">
      <h1 style= "text-align: center">Password Reset</h1>
    </div>
    <div class="card col-md-6 col-md-offset-3">
      <div class="card-body placeholder">
        <%= form_for(:password_reset, url: password_resets_path) do |f| %>
          <%= f.label :email, class: 'field-label emphasis' do %>
            <span class = 'field-label emphasis'> Email </span><br>
          <% end %><br>
          <%= f.email_field :email, class: 'form-control', placeholder: "Email" %><br>

          <%= f.submit "Submit", class: "btn btn-success btn-block" %>
        <% end %>
      </div>
    </div>  
  </div>
</div>